* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page {
  background-color: rgba(0, 54, 63, 0.3);
}

header {
  text-align: center;
  position: fixed;
  left: 0;
  /* top: 30; */
  top: 0;
  width: 100%;
  background-color: rgba(94, 94, 94, 0.3);
}

.student-name {
  text-align: center;
  padding: 15px;
}

.student-image {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  margin-top: 150px;
}

.list-container {
  text-align: center;
}

.list {
  display: inline-block;
  text-align: left;
  margin-bottom: 20px;
}

.about {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 75px;
}

.about h3 {
  padding: 10px;
}

.about p {
  padding: 5px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  /* padding: 3px; */
  padding: 30px;
  background-color: rgba(94, 94, 94, 0.3);
  clear: both;
}
